<?php
return array(
    'debug' => false,
    'secret_key' => 'this is secret key',
    'chat_id' => 0,

    'data_base' => array(
        'type' => 'mysql',
        'host' => '127.0.0.1',
        'user' => 'root',
        'password' => '',
        'base_name' => 'data_base',
        'encode' => 'utf8'
    )
);
